python-dotenv
qdrant-client
pymupdf
llama-index
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-ollama
llama-index-llms-ollama
transformers
torch
fastembed
streamlit
langdetect